$base-color: #211a4c;
$second-color: #e0144c;
$third-color: #9a1663;
$fourth-color: #ffefd6;
// $background-color: #f7dad9;
$gray: #f4f4f4;
$dark-gray: #777;
$red: #cd1818;
$green: #cee5d0;
$border-radius: 5px;
$transition-time: 0.2s;
